{% if site.data.navigation %}
  <ul class="nav-list">
    {% for item in site.data.navigation %}
      <li class="nav-item">
        <a 
          href="{{ item.url | relative_url }}" 
          class="nav-link {% if page.url == item.url %}active{% endif %}"
        >
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
  <a href="{{ '/tecnico/' | relative_url }}" class="nav-link">Técnico</a>
{% endif %}
