{% capture toc %}
  {% assign headings = html | split: '<h' %}
  {% for heading in headings %}
    {% if heading contains 'id=' %}
      {% assign headingcontent = heading | split: '>' %}
      {% assign headingid = heading | split: 'id="' %}
      {% assign headingid = headingid[1] | split: '"' | first %}
      
      {% if heading contains 'h2' %}
        <li class="toc-h2"><a href="#{{ headingid }}">{{ headingcontent[1] | strip_html }}</a></li>
      {% elsif heading contains 'h3' %}
        <li class="toc-h3"><a href="#{{ headingid }}">{{ headingcontent[1] | strip_html }}</a></li>
      {% elsif heading contains 'h4' %}
        <li class="toc-h4"><a href="#{{ headingid }}">{{ headingcontent[1] | strip_html }}</a></li>
      {% elsif heading contains 'h5' %}
        <li class="toc-h5"><a href="#{{ headingid }}">{{ headingcontent[1] | strip_html }}</a></li>
      {% elsif heading contains 'h6' %}
        <li class="toc-h6"><a href="#{{ headingid }}">{{ headingcontent[1] | strip_html }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endcapture %}

<ul class="toc-list">
{{ toc }}
</ul>
