{% capture toc %}
  {% assign headings = html | split: '<h' %}
  {% for heading in headings %}
    {% if heading contains 'id=' %}
      {% assign headingcontent = heading | split: '>' %}
      {% assign headingid = heading | split: 'id="' %}
      {% assign headingid = headingid[1] | split: '"' | first %}
      {% assign headinglevel = heading | split: ' ' | first | replace: 'h2', '2' | replace: 'h3', '3' | replace: 'h4', '4' | replace: 'h5', '5' | replace: 'h6', '6' %}
      {% if heading contains 'h2' %}
        <li><a href="#{{ headingid }}">{{ headingcontent[1] | strip_html }}</a></li>
      {% elsif heading contains 'h3' %}
        <li style="margin-left: 20px;"><a href="#{{ headingid }}">{{ headingcontent[1] | strip_html }}</a></li>
      {% elsif heading contains 'h4' %}
        <li style="margin-left: 40px;"><a href="#{{ headingid }}">{{ headingcontent[1] | strip_html }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endcapture %}

<ul>
{{ toc }}
</ul>
